
*.ipynb
__pycache__/future_encoders.cpython-36.pyc
*.csv
datasets/HousePrices/data_description.txt
*.tgz
*.rtf
*.zip
HousePrice/tf/best_model_final/checkpoint
*.meta
HousePrice/tf/best_model_final/best_model_final.ckpt.index
*.data-00000-of-00001
HousePrice/future_encoders.py
HousePrice/best_rf_reg_1.15
HousePrice/__pycache__/future_encoders.cpython-36.pyc
*.tmpa6ea59d78995492aa1d82200262ff748
*.index
taxifare/best_model_final2/checkpoint
